/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    /* removing user-agent spaces */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* navigation and default styles */
/* removing decoration */
ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

li {
    display: inline;
    margin-left: 10px;
    text-align: center;
}


a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}

a:link {
    color: black;
}

a:visited, a:active {
    color: inherit;
}

a:focus{
    outline: none;
}

a:hover{
    color: inherit;
    text-decoration: underline;
}

.navigation {
    margin-top: 20px;
}

.navigation li:last-child {
    margin-right: 30px;
}

.navigation li:last-child a {
    padding: 6px 10px;
    background-color: rgb(49, 124, 238);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
}

/* main content*/
.container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img, input {
    margin-bottom: 20px;
}

img {
    width: 270px;
}

input {
    width: 600px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid rgb(223, 225, 229);
    outline: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

input:hover {
    -webkit-box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
            box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.container-main .buttons {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.container-main .buttons button{
    padding: 10px;
    background-color: rgb(248, 249, 250);
    outline: none;
    border: 1px solid rgb(248, 249, 250);
    
}

.container-main .buttons button:hover {
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
            box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid rgb(218, 220, 224);
    cursor: pointer;
}
/* footer */
.container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    background-color: rgb(206, 202, 202);
}

.container-footer li a {
    padding: 10px;
    color: rgb(117, 115, 115);
}